<div class="container-fluid d-flex justify-content-around pt-5" style="height: 35vh;">
    <app-circular-counter [title]="'Overspeed'" [count]="'15'" (click)='fatchData("posts")'></app-circular-counter>
    <app-circular-counter [title]="'AQI'" [count]="'11'" (click)='fatchData("albums")'></app-circular-counter>
    <app-circular-counter [title]="'Incident 3'" [count]="'5'" (click)='fatchData("photos")'></app-circular-counter>
    <app-circular-counter [title]="'Incident 4'" [count]="'8'" (click)='fatchData("todos")'></app-circular-counter>
</div>
@if(flag){
    <div class="container pt-5">
        <table class="table">
            <thead>
              <tr>
                <th class="col">Id</th>
                <th class="col">Title</th>
              </tr>
            </thead>
            <tbody>
                @for(d of data;track d.id){
                    <tr>
                        <td>
                            {{d.id}}
                        </td>
                        <td>
                            {{d.title}}
                        </td>
                    </tr>
                    }
            </tbody>
          </table>
    </div>
    
    
}