
<div class="navbar-compo">

    <!-- top navbar -->
    

      <!-- sidbar -->
    <div [class.open]="isClassAdded" class="sidebar ">
        <div class="logo_details">
          <i class="bx bxl-audible icon"></i>
          <div class="logo_name">A M N E X</div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href="#">
              <i class="bx bx-grid-alt"></i>
              <span class="link_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
          </li>
          <li>
            <a href="#">
              <i class="bx bx-grid-alt"></i>
              <span class="link_name">Incidents</span>
            </a>
            <span class="tooltip">Incidents</span>
          </li>
        </ul>
      </div>
      <section class="home-section">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li >
                      <li class="nav-item">
                        <button (click)="toggleClass()" class="btn btn-secondary">Toggle Sidebar</button>
                      </li>
                </ul>
              </div>
            </div>
          </nav>
          <app-dashboard></app-dashboard>
      </section>
<div>

